<div class="w-75 mx-auto py-5">
    <h4>Login:</h4>
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin(loginForm)">
        <label class="mb-1" for="email">email:</label>
        <input formControlName="email" class="form-control mb-3" type="email" id="email">
        <div *ngIf="loginForm.get('email')?.errors && loginForm.get('email')?.touched" class="alert p-2 bg-danger">
            <p *ngIf="loginForm.get('email')?.getError('email')" class="m-0">Invalid Email</p>
            <p *ngIf="loginForm.get('email')?.getError('required')" class="m-0">email is required</p>
        </div>
        <label class="mb-1" for="passward">passward:</label>
        <input formControlName="password" class="form-control mb-3" type="password" id="passward">
        <div *ngIf="loginForm.get('password')?.errors && loginForm.get('password')?.touched" class="alert p-2 bg-danger">
            <p *ngIf="loginForm.get('password')?.getError('pattern')" class="m-0">password must start with a capital letter and minimum 5 characters</p>
            <p *ngIf="loginForm.get('password')?.getError('required')" class="m-0">password is required</p>
        </div>
        <button [disabled]="loginForm.invalid" type="submit" class="btn btn-info text-white fw-bold">
            <span *ngIf="!isLoading">SignIn</span>
            <span *ngIf="isLoading"><i class="fa-solid fa-spinner fa-spin"></i></span>
        </button>
        <div *ngIf="apiError" class="alert alert-danger my-3">
            {{apiError}}
        </div>
    </form>
    <a class="d-block mt-2 question" routerLink="/forgetPassword">Forgot password?</a>
    <span>not a member? <a class="question" routerLink="/register">Register</a></span>

</div>
